body {
	//background-color: $primary-color;
	background-color: #EEE;
	font: 22px $content-font;
}

p {
	text-align:justify;
}

h2 {
	@include title-font(22px);
}

.main-section {
	@include title-font(25px);
}

.content {
	padding: 20px;
    animation: fadein 2s;
}
.ellipsis {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.key-index, .level-selector {
	text-align: center;
	padding-bottom: 20px;
	span {
		margin: 5px;
		font-weight: bold;
		font-size: 26px;
		cursor: pointer;
	}
	span.active {		
		text-decoration: underline;
	}

	label {
		padding-right: 20px;
		input[type='radio'] {
			height: 30px;
		}
	}
}

.itzulpen-input {
	height:30px; 
	margin:2px; 
	font-size:22px;
}

.highlighted-match-green {
	background-color: #8bdc8b;
	padding: 0px;
	margin: 0px;
	border-radius:3px;
}

.highlighted-match-red {
	background-color: #de3f3f;
	padding: 0px;
	margin: 0px;
	border-radius:3px;
}

@media (min-width: 992px) { 
	/* from MD on!! */
  	.bordered-on-md:nth-child(odd) {
		border-right: 1px dashed #333;

  }
}



