<div class="itzulpenContainer">
	<div class="level-selector">
		<label class="radio-inline">
	      	<input type="radio" 
			       ng-model="vm.level" 
			       ng-value=""
			       ng-change="vm.refreshItzulpenSet()"> 
	      	<span ng-class="{'active': !vm.level}">
	      		{{vm.languaje === 'castellano' ? 'Todo' : 'Dena'}}
	      	</span>
	    </label>
	    <label class="radio-inline">
	      	<input type="radio" 
	      		   ng-model="vm.level" 
	      		   ng-value="vm.itzulpenLevels.A_2_1"
	      		   ng-change="vm.refreshItzulpenSet()"> 
  		   	<span ng-class="{'active': vm.level === vm.itzulpenLevels.A_2_1}">
  		   		A2.1
  		   	</span>
	    </label>
	    <label class="radio-inline">
	      	<input type="radio"
	      		   ng-model="vm.level" 
	      		   ng-value="vm.itzulpenLevels.A_2_2"
	      		   ng-change="vm.refreshItzulpenSet()"
				   ng-class="{'active': key === vm.key}"> 
  		   	<span ng-class="{'active': vm.level === vm.itzulpenLevels.A_2_2}">
  		   		A2.2
  		   	</span>
	    </label>
	</div>
	<div class="key-index">
		<span ng-repeat="key in vm.keyIndex" 
			  ng-click="vm.refreshItzulpenSet(key)"
			  ng-class="{'active': key === vm.key}">
			{{key}}
		</span>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 bordered-on-md" 
			 ng-repeat="itzulpen in vm.itzulpenak | orderBy:'word'">
			<div class="col-xs-5 ellipsis" style="padding: 2px;">
				<strong>{{itzulpen.word}}</strong>
			</div>
			<div class="col-xs-2" style="text-align:center;">
				<i class="fa fa-fw" 
				   ng-class="{'fa-eye': !itzulpen.display, 'fa-eye-slash': itzulpen.display}"
				   ng-click="vm.toggleDisplay(itzulpen)"
				   style="cursor:pointer"></i>
			</div>
			<div class="col-xs-5 ellipsis" style="text-align:right; height:35px; padding: 2px;">
				<div ng-show="itzulpen.display"
				     ng-bind-html="itzulpen.translation | highlightItzulpenMatch:itzulpen.match"
				     style="font-weight:bold;">
					{{itzulpen.translation}}
				</div>
				<input id="itzulpen_input_{{$index}}"
					   ng-show="!itzulpen.display" 
					   type="text" 
					   class="form-control itzulpen-input" 
					   ng-model="itzulpen.match"
					   ng-keypress="vm.inputKeyPress($event, itzulpen, $index < vm.itzulpenak.length - 1 ? $index : -1)">
			</div>
		</div>
	</div>	
</div>