<div class="itzulpenContainer">
	<div class="levelSelector">
		<label class="radio-inline">
	      	<input type="radio" 
			       ng-model="vm.level" 
			       ng-value=""
			       ng-change="vm.refreshItzulpenSet()"> 
	      	<span ng-class="{'active': !vm.level}">
	      		{{vm.languaje === 'castellano' ? 'Todo' : 'Dena'}}
	      	</span>
	    </label>
	    <label class="radio-inline">
	      	<input type="radio" 
	      		   ng-model="vm.level" 
	      		   ng-value="vm.itzulpenLevels.A_2_1"
	      		   ng-change="vm.refreshItzulpenSet()"> 
  		   	<span ng-class="{'active': vm.level === vm.itzulpenLevels.A_2_1}">
  		   		A2.1
  		   	</span>
	    </label>
	    <label class="radio-inline">
	      	<input type="radio"
	      		   ng-model="vm.level" 
	      		   ng-value="vm.itzulpenLevels.A_2_2"
	      		   ng-change="vm.refreshItzulpenSet()"
				   ng-class="{'active': key === vm.key}"> 
  		   	<span ng-class="{'active': vm.level === vm.itzulpenLevels.A_2_2}">
  		   		A2.2
  		   	</span>
	    </label>
	</div>
	<div class="keyIndex">
		<span ng-repeat="key in vm.keyIndex" 
			  ng-click="vm.refreshItzulpenSet(key)"
			  ng-class="{'active': key === vm.key}">
			{{key}}
		</span>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 bordered-on-md" ng-repeat="itzulpen in vm.itzulpenak | orderBy:'word'">
			<div>
				<div class="col-xs-5 ellipsis">
					<strong>{{itzulpen.word}}</strong>
				</div>
				<div class="col-xs-2" style="text-align:center;">
					<i class="fa fa-fw" 
					   ng-class="{'fa-eye': !itzulpen.display, 'fa-eye-slash': itzulpen.display}"
					   ng-click="vm.toggleDisplay(itzulpen)"
					   style="cursor:pointer"></i>
				</div>
				<div class="col-xs-5 ellipsis" ng-show="itzulpen.display" style="text-align:right">
					{{itzulpen.translation}}
				</div>
			</div>
		</div>
	</div>	
</div>