<div class="container">
	<div class="col-xs-12">
		<p>
			<input type="text" ng-model="filter.name" placeholder="BUSCAR MOTE" style="width:100%; text-align:center;">
		</p>
	</div>	
	<div class="col-xs-12 col-sm-6">
		<h3>Todos los motes</h3>
		<p ng-repeat="mote in motes | filter: filter.name | orderBy:'priority'">
			{{ mote.priority + ". " + mote.name + " (" + mote.popularity + ")" }}
		</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h3>Nuevo mote</h3>
		<p>
			Mote:
			<input type="text" ng-model="nuevoMote.name">
		</p>
			Popularidad Inicial:
			<input type="text" ng-model="nuevoMote.popularity">
		</p>
		<p>
			<input type="button" ng-click="anadirMote()" value="Crear">
		</p>
	</div>
</div>